  @import url('https://fonts.googleapis.com/css?family=Dancing+Script');

   html, body{
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
   }

  p {
    margin: auto 0;
    font-size: 6em;
    font-family: 'Dancing Script', cursive;
    text-align: center;
  }

  ul {
    margin: 20px;
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li {
   
    margin: 0 25px 0;
    color: white;
    background-color: black;
    /*border-radius: 60px;*/
    width: 100px;
    height: 70px;
    line-height: 70px;
    justify-content: center;
    cursor: pointer;
    /*border: 2px white solid;*/
    list-style-type: none;
  } 

  .container {
  
    border: 2px solid black;
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Dancing Script', cursive;
  }
  
.dance {
  position: absolute;
  right: 0;
  border: 2px black solid;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: url('img/jp.jpg');
}

.count {
  border-radius: 80px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*#inputArea {
 border: 2px white solid;
 background-color: black;

}
/*.video {
  background-image: url('img/jp.jpg') cover no-repeat;
}*:;